/*Panel de opciones*/

aside {
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
    width: 200px;
    height: 100%;
    background-color: #222733;
    text-transform: uppercase;
    padding: 30px 10px;
}

#close-btn {
    border: none;
    background-color: transparent;
    color: white;
    float: right;
}

h5 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.panel-control {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-control-title {
    color: white;
    font-size: .7em;
    margin-bottom: 5px;
    font-weight: 600;
}

#img-url {
    border: none;
    border-radius: 2px;
    background-color: #30343F;
    height: 25px;
    width: 100%;
    font-size: .7em;
    color: white;
    padding-left: 5px;
}

.panel-control-inline {
    display: flex;
    margin: 10px 0;
}

.panel-control-color-input {
    display: flex;
    height: 25px;
    background-color: #30343F;
    margin-right: 10px;
    padding: 0 4px;
    border-radius: 2px;
}

#fondo-color, #font-color, #font-bg-color {
   width: 25px;
   background-color: transparent;
   border: none;
}

span {
    font-size: .7em;
    line-height: 2.3;
    color: white;
}

#blend-mode {
    background-color: #30343F;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: .7em;
}

.panel-control-inner {
    margin: 6px 0;
}

label {
    color: white;
    font-size: .7em;
}

input[type="range"] {
    margin: 5px 0;
    height: 5px;
    width: 100%;
    background-color: #5a5d68;
    border-radius: 10px;
    appearance: none;
}

#reset-btn {
    width: 60%;
    height: 30px;
    font-size: .7em;
    border: none;
    color: white;
    background-color: #30343F;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s;
}